.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;

}

h1 { font-weight: 750; 
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 4em; 
     margin: 0 auto; 
     padding: 0; 
     color: rgb(6, 32, 22);
     background: #29c589; 
     position: relative; 
     opacity: 10%; }

.App-header { padding: 0; margin: 0; text-align: center; }

.App-Content-header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Content-button {
  border: 1px black 
}

.App-Content-img {
  border: 1px black
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.box {text-align: center;}


.display {  justify-content: center;  
            width: fit-content;  }

img { margin: auto;
      box-align: center; 
      align-self: center; 
      align-content: center; 
      width: 400px; 
      height: 400px;}

li { 
     padding-top: 20px;
     border-radius: 5px;
     background-color: white;
     display: grid;
     grid-template-rows: 80% 20%; 
     grid-gap: 40px;
     margin: 0px; 
     font-weight: 200; 
     font-size: .75em; 
     text-align: center; 
     list-style-type: none; }

ul {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  margin-left: 10%;
  margin-right: 10%;

}

html{
  background: rgb(131, 165, 131);
}

li button{
  font-size: 40px;
  border: 2px black solid;
  border-radius: 5px;
  background-color:green;
  color: white;
}
li button:hover{
  background-color:white;
  color: black;
}